<a href="https://colab.research.google.com/github/LinaMariaCastro/curso-ia-para-economia/blob/main/clases/2_Programacion_en_Python/4_Taller_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Inteligencia Artificial con Aplicaciones en Econom√≠a I**

- üë©‚Äçüè´ **Profesora:** [Lina Mar√≠a Castro](https://www.linkedin.com/in/lina-maria-castro)  
- üìß **Email:** [lmcastroco@gmail.com](mailto:lmcastroco@gmail.com)  
- üéì **Universidad:** Universidad Externado de Colombia - Facultad de Econom√≠a

# **Taller Programaci√≥n en Python: Listas y listas de listas**
---

**IMPORTANTE**: Guarda una copia de este notebook en tu Google Drive o computador.

**Taller en parejas**

**Nombres estudiantes:**

-
-

**Forma de entrega:**

- Registrar las respuestas en https://forms.office.com/r/Bvu9qM9RXm para obtener la calificaci√≥n. Vale 20 puntos.

- Publicar Jupyter Notebook con el desarrollo del taller en la cuenta de Github de uno de los estudiantes. Nombrar el archivo de la siguiente forma:‚ÄúTaller_Listas_nombres_y_appellidos.ipynb‚Äù. Esto vale 5 puntos adicionales a las respuestas del formulario.

Puntaje total del taller: 25 puntos.

**Plazo de entrega:**

5 de febrero de 2026, m√°ximo a las 11:59 p.m. Tenga en cuenta que luego de esa hora el formulario en forms se cierra. El Jupupyter Notebook tambi√©n debe quedar subido en Github antes de esa hora.

**Instrucciones Generales:**

Completa el c√≥digo en las celdas marcadas con `### TU C√ìDIGO AQU√ç ###`. Puedes a√±adir m√°s celdas si lo requieres.

## **Bloque 1: Gesti√≥n de √çndices e Indicadores**
Trabajaremos con la lista `ipc_mensual = [0.5, 0.8, 1.2, 0.4, 0.3, 0.9, 1.1]` que representa la inflaci√≥n mensual.

In [ ]:
ipc_mensual = [0.5, 0.8, 1.2, 0.4, 0.3, 0.9, 1.1]

In [ ]:
# 1. Agrega el dato de inflaci√≥n del nuevo mes: 0.6 al final.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 2. Inserta el valor 0.7 en la segunda posici√≥n (√≠ndice 1) por un ajuste retroactivo.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 3. El valor 1.2 fue un error de digitaci√≥n. C√°mbialo por 1.0.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 4. Extrae los primeros 3 meses en una lista llamada 'primer_trimestre'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 5. Extrae los √∫ltimos 2 meses en una lista llamada 'cierre_a√±o'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 6. Ordena la lista de menor a mayor inflaci√≥n.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 7. Encuentra el √≠ndice donde qued√≥ el valor m√°ximo (1.1) y gu√°rdalo en 'pos_max'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 8. Elimina el valor m√°s bajo de la lista (0.3).
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 9. Cuenta cu√°ntas veces aparece el valor 0.6 y gu√°rdalo en 'conteo_06'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 10. Invierte el orden actual de la lista.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# --- VERIFICACI√ìN AUTOM√ÅTICA - NO MODIFICAR ESTA CELDA ---
assert len(ipc_mensual) == 8
assert 0.3 not in ipc_mensual
assert primer_trimestre == [0.5, 0.7, 0.8]
assert cierre_a√±o == [1.1, 0.6]
print("¬°Bloque 1 completado!")

## **Bloque 2: Listas de Listas - Microdatos de Empresas**
Gestionar√°s la siguiente matriz `empresas = [['E1', 500, True], ['E2', 150, False], ['E3', 1200, True]]`.
Cada sublista corresponde a `[Nombre_Empresa, N√∫mero_Empleados, Cotiza_Bolsa]`.

In [ ]:
empresas = [['E1', 500, True], ['E2', 150, False], ['E3', 1200, True]]

In [ ]:
# 11. Accede al n√∫mero de empleados de 'E2' y gu√°rdalo en 'emp_e2'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 12. Cambia el estado de 'E2' a True (ahora cotiza en bolsa).
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 13. Agrega una nueva empresa: ['E4', 800, False].
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 14. Calcula el total de empresas en la matriz y gu√°rdalo en 'n_empresas'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 15. Crea una lista vac√≠a 'nombres' y usa un 'for' para llenarla con los nombres (E1, E2...).
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 16. Calcula el promedio de empleados y gu√°rdalo en 'promedio_emp'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 17. Elimina la sublista de la empresa 'E1'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 18. Accede al nombre de la √∫ltima empresa de la lista y gu√°rdalo en 'ultima_emp'.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 19. Crea una lista 'grandes' con las empresas que tienen > 1000 empleados (trae la sublista con la informaci√≥n completa de la o las empresas).
### TU C√ìDIGO AQU√ç ###

In [ ]:
# 20. Modifica el nombre de 'E2' a 'Empresa Lider' dentro de la matriz.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# --- VERIFICACI√ìN AUTOM√ÅTICA - NO MODIFICAR ESTA CELDA ---
assert emp_e2 == 150
assert empresas[0][0] == 'Empresa Lider'
assert n_empresas == 4
assert nombres == ['E1', 'E2', 'E3', 'E4']
assert promedio_emp == 662.5
assert len(grandes) == 1
print("¬°Taller finalizado exitosamente!")